@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Bowler';
    src: url('Bowler.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'NicoMoji';
    src: url('NicoMoji-Regular.ttf') format('truetype');
    font-display: swap;
}

