.about {
    position: relative;
    padding-bottom: 95px;

    @media(max-width: $breakpoint480) {
        padding-bottom: 70px;
    }

    &::after {
        content: '';
        background: url(/assets/img/bg/about-bg.svg);
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        aspect-ratio: 1440 / 124;
        height: 124px;

        @media(max-width: $breakpoint768) {
            height: 84px;
            background-size: auto 84px;
        }
        @media(max-width: $breakpoint480) {
            height: 60px;
            background-size: auto 60px;
        }
    }
 
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        position: relative;
        z-index: 2;

        @media(max-width: $breakpoint1024) {
            flex-direction: column;
            gap: 38px;
        }
    }

    &__left {
        display: flex;
        align-items: center;
        gap: 27px;

        width: 460px;

        @media(max-width: $breakpoint1024) {
            width: 355px;
        }
        @media(max-width: $breakpoint600) {
            width: 280px;
        }
    }
    &__right {
        width: 66%;

        @media(max-width: $breakpoint1024) {
            width: 100%;
        }
    }

    &__text {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;

        @media(max-width: $breakpoint1024) {
            font-size: 18px;
        }
        @media(max-width: $breakpoint480) {
            font-size: 16px;
        }
    }
}