.delivery {
    max-width: 954px;
    margin: 0 auto;

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        gap: 20px;

        @media(max-width: $breakpoint768) {
            gap: 15px;
        }
        @media(max-width: $breakpoint480) {
            grid-template-columns: 1fr;
        }
    }

    &__item {
        box-shadow: 0 0 33px 0 rgba(16, 16, 16, 0.57);
        background: #2f302d;
        border-radius: 20px;
        padding: 40px 32px;

        @media(max-width: $breakpoint768) {
            padding: 32px;
        }
        @media(max-width: $breakpoint480) {
            padding: 28px 32px;
        }
    }

    &__icon {
        height: 74px;

        @media(max-width: $breakpoint480) {
            height: 62px;
        }

        & img {
            height: inherit;
            object-fit: contain;
        }
    }
    &__text {
        margin-top: 28px;

        font-weight: 700;
        font-size: 20px;
        line-height: 126%;

        @media(max-width: $breakpoint768) {
            font-size: 18px;
        }
        @media(max-width: $breakpoint480) {
            margin-top: 24px;
            font-size: 16px;
        }
    }
}