.header {
    position: relative;

    &__wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 39px 0;
        z-index: 2;

        @media(max-width: $breakpoint768) {
            padding: 24px 0;
        }
        @media(max-width: $breakpoint480) {
            padding: 18px 0;
        }
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 30px;
    }
    &__phone {
        & svg {
            fill: #fff;
            transition: fill .4s, scale .4s;
        }

        &:hover {
            & svg {
                fill: $main-color;
                scale: .95;
            }
        }
    }
}