.menu-nav {
    display: flex;
    align-items: center;
    gap: 45px;

    @media(max-width: $breakpoint1280) {
        gap: 14px;
    }

    &__item {
        display: flex;
    }

    &__link {
        font-weight: 500;
        font-size: 20px;
        text-transform: lowercase;
        color: #fff;

        @media(max-width: $breakpoint1180) {
            font-size: 18px;
        }

        &--active {
            color: $main-color;
        }
    }
}