.ui-anim-flip {
    @for $i from 1 through 6 {
        &:nth-of-type(#{$i}) {
            & a {
                animation-delay: 150ms * $i;
                animation-duration: .7s * $i;
            }
        }
      }

    & > a {
        opacity: 0;
        animation-fill-mode: forwards;
        animation-name: uicoreFadeInDown, uicoreFadeIn;
        animation-play-state: paused;
        animation-timing-function: cubic-bezier(.22, 1, .36, 1), cubic-bezier(0, 0, .2, 1);

        & .ui-flip-anim-wrapp {
            transition: opacity .4s, transform .7s;
            transition-timing-function: cubic-bezier(.15, .85, .31, 1);

            display: inline-block;
            position: relative;

            & .ui-menu-item-wrapper {
                transition: opacity .4s, transform .7s;
                transition-timing-function: cubic-bezier(.15, .85, .31, 1);

                display: inline-block;
                position: relative;

                white-space: nowrap;
                vertical-align: middle;
                grid-area: 1 / 2 / 2 / 3;

                &:nth-child(2) {
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, 50%);
                    opacity: 0;
                }
            }
        }
    }

    &:hover {
        > a .ui-flip-anim-wrapp {
            transform: translateY(-100%);

            & .ui-menu-item-wrapper:nth-child(2) {
                transform: translate(-50%, 50%);
                opacity: 1;
                color: $main-color;
            }
        }

        > a .ui-menu-item-wrapper:nth-child(1) {
            opacity: 0;
        }
    }
} 

.ui-btn {
    
    &__text {
        display: flex;
        align-items: center;
        gap: 20px;

        font-weight: 500;
        font-size: 20px;
        text-align: center;
        color: #fff;

        & svg {
            fill: #fff;
            flex-shrink: 0;
        }
    }

    & > div {

        & .ui-flip-anim-wrapp {
            transition: opacity .4s, transform .7s;
            transition-timing-function: cubic-bezier(.15, .85, .31, 1);

            display: inline-block;
            position: relative;

            & .ui-menu-item-wrapper {
                transition: opacity .4s, transform .7s;
                transition-timing-function: cubic-bezier(.15, .85, .31, 1);

                position: relative;

                white-space: nowrap;
                vertical-align: middle;
                grid-area: 1 / 2 / 2 / 3;

                &:nth-child(2) {
                    position: absolute;
                    top: 50%;
                    transform: translate(0, 50%);
                    opacity: 0;
                }
            }
        }
    }

    &:hover {
        > div .ui-flip-anim-wrapp {
            transform: translateY(-100%);

            & .ui-menu-item-wrapper:nth-child(2) {
                transform: translate(0, 50%);
                opacity: 1;
                color: $main-color;

                & svg {
                    fill: $main-color;  
                }
            }
        }

        > div .ui-menu-item-wrapper:nth-child(1) {
            opacity: 0;
        }
    }
}

input {
    border: 1px solid #2f302d;
    border-radius: 16px;
    padding: 20px 24px;
    box-shadow: 0 0 33px 0 rgba(16, 16, 16, 0.57);
    background: #2f302d;

    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);

    &::placeholder {
        font-weight: 400;
        font-size: 18px;
        color: rgba(255, 255, 255, 0.7);
    }
}

textarea {
    border: 1px solid #2f302d;
    border-radius: 16px;
    padding: 24px;
    box-shadow: 0 0 33px 0 rgba(16, 16, 16, 0.57);
    background: #2f302d;

    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);

    &::placeholder {
        font-weight: 400;
        font-size: 18px;
        color: rgba(255, 255, 255, 0.7);
    }
}