@import url("../assets/fonts/stylesheet.css");

html,
body {
    font-family: $font-family;
    scroll-behavior: smooth;
    background-color: #252726;
    color: #fff;
}

// Заголовки
h1 {
    
}
h2 {
    font-family: $font-family-title;
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

// База
.container {
    max-width: $container-width;
    width: 100%;
    margin: 0 auto;

    &__inner {
        margin-top: 48px;

        @media(max-width: $breakpoint768) {
            margin-top: 38px;
        }
    }

    @media(max-width: $container-width) {
        padding: 0 $padding-md;
    }
    @media(max-width: $breakpoint768) {
        padding: 0 $padding-sm;
    }
}

.left-padding {
    padding-left: calc((100vw - $section-top) / 2);

    @media(max-width: $container-width) {
        padding-left: $padding-md;
    }
    @media(max-width: $breakpoint768) {
        padding-left: $padding-sm;
    }
}

.no-scroll {
    overflow: hidden;
}